{% extends 'base.html.twig' %}

{% block title %}
    WildGames
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /*.games-link {*/
        /*    display: none;*/
        /*}*/
    </style>
{% endblock %}

{% block body %}
    <section class="profilepage-body">
        <div class="container-fluid profilepage-container">
            <div class="row no-gutters homepage-welcome">
                <h1>Welcome {{app.user.name}}</h1>
            </div>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form.imageFile,
                    { 'attr': {
                        'class': 'custom-file-input'
                    } }) }}
                {{ form_widget(form.name,
                    { 'attr': {
                        'class': 'hidden-form-field'
                    } }) }}
                {{ form_widget(form.email,
                    { 'attr': {
                        'class': 'hidden-form-field'
                    } }) }}
                {{ form_widget(form.coins,
                    { 'attr': {
                        'class': 'hidden-form-field'
                    } }) }}
                    <button type="submit" class="btn btn-save-bottom">Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
