{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section class="admin-users homepage-body">
        <div class="return-admin-page">
            <a href="{{ path('admin_index') }}">Return to main page</a>
        </div>
        <div class="container-fluid user-table-container">
            <div class="row">
                <table class="table table-hover table-user">
                    <thead>
                        <tr class="tr-column">
                            <th class="th" scope="col">Name</th>
                            <th class="th" scope="col">Email</th>
                            <th class="th" scope="col">Coins</th>
                            <th class="th" scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody class="thead-light">
                        {% if users is not empty %}
                            {% for user in users %}
                                {% if 'ROLE_ADMIN' not in user.roles %}
                                    <tr class="tr-user">

                                        <td class="search_response"><a href="#{{ path('') }}"> {{ user.name }} </a></td>
                                        <td class="search_response"><a href="#"> {{ user.email}} </a></td>
                                        <td class="search_response"> {{ user.coins}} </td>
                                        <td class="search_response">
                                            {% if user.image %}
                                                <a href="#"> <img src="/uploads/{{ user.image }}" alt="{{ user.name }}_image" height="32px" width="32px" class="rounded-circle user_avi" m-0 pt-0 pb-0></a>
                                            {% else %} /
                                            {% endif %} </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

