<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="{{ path('app_index') }}">WildGames</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('admin_users') }}">Users</a>
                        <a class="dropdown-item" href="#">Comments</a>
                        <a class="dropdown-item" href="#">Smthg else to come</a>
                    </div>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle games-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">BlackJack</a>
                    <a class="dropdown-item" href="#">Roulette</a>
                    <a class="dropdown-item" href="#">421</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto navbar-list">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <div class="navbar-coins"> {{ app.user.coins }} W.C</div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profile', {'user': app.user.id}) }}">
                        {% if app.user.image %}
                            <img src="/uploads/{{ app.user.image }}" alt="{{ app.user.name }}_image" height="32px" width="32px" class="rounded-circle user_avi" m-0 pt-0 pb-0>
                        {% else %}{{ app.user.name }}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
