<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#">WildGames</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{#{{ path('program_index') }}#}">BlackJack</a>
                        <a class="dropdown-item" href="#">Roulette</a>
                        <a class="dropdown-item" href="#">421</a>
                    </div>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle games-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">BlackJack</a>
                    <a class="dropdown-item" href="#">Roulette</a>
                    <a class="dropdown-item" href="#">421</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{#{{ path('app_login') }}#}">Nb of WC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ app.user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#{#{{ path('app_logout') }}#}#}">Log out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
